<!-- rendering of category table rows -->
  <tr>
    <td><%= link_to category.name, operations_path(category_id: category), 
                    title: "Перейти до операцій категорії " + category.name,
                    class: "link-primary link-underline-opacity-0"  %>
    </td>
    <td><%= category.description %></td>  
    <td>
    <div class="d-flex justify-content-start">
      <%= link_to edit_category_path(category, page: params[:page]), title: "Редагувати категорію", class: "btn btn-sm" do %>
        <i class="fa fa-pencil fa-fw"></i>
      <% end %>
      <%= button_to category_path(category, page: params[:page]), title: "Видалити категорію", class: "btn btn-sm", method: :delete do %>
        <i class="fa fa-trash"></i>
      <% end %> 
    </div>
    </td>
  </tr>

 
