<h1>Генератор звітів#index</h1>
<div class="buttons">
  <%= button_to 'Звіт по категоріях', reports_report_by_category_path, method: :get%>
</div>

<div class="buttons">
  <%= button_to 'Звіт по датах', reports_report_by_dates_path, method: :get %>
</div>

<p>Find me in app/views/reports/index.html.erb</p>
